.container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.spalvos-box {
    width: 100%;
    height: 60%;
    background-color: red;
}

.box {
    border: 1px dashed black;
    height: 9em;
}

.box button {
    display: block;
    height: 20%;
    width: 100%;
}